@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

::-webkit-scrollbar {
  display: none;
}

.webpage {
  align-items: center;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1080px;
  min-width: 1920px;
  padding: 10px 0px;
  position: relative;
  transform-origin: 0 0;
}

.webpage .loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: absolute;
  top: 400px;
}
